[submodule "GitTest"]
	path = GitTest
	url = https://github.com/MatiasPujado/GitTest.git
[submodule "solProyect"]
	path = solProyect
	url = https://github.com/SunFanton/formulario-encuesta.git
[submodule "jorgeProyect"]
	path = jorgeProyect
	url = https://github.com/JorgeGarciaMdz/work-aws.git
